<ion-list>
    <ion-item *ngFor = "let n of ViewTeam.result">
        <ion-label>{{n.team_key}}</ion-label>
        <ion-label>{{n.team_name}}</ion-label>
        <ion-label>{{n.team_logo}}</ion-label>
        <ion-button (click)="ViewTeams(ViewTeam)" expand="block" fill="clear" shape="round">See more</ion-button>
    </ion-item>
</ion-list>