main{
    display: flex;
    align-content: center;
    justify-content: center;
}

ion-card {
    height: 400px;
    width: 300px;
    align-content: center;
    background-color: white;
}

.colorLabel{
    background-color: white;
}

.space{
    top: 100px;
}