<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="colorLabel">
        <ion-label position = "floating">Usuario:</ion-label>
        <ion-input type="text" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item class="colorLabel">
        <ion-label position = "floating">Contraseña:</ion-label>
        <ion-input type="text" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item class="colorLabel">
          <!--<ion-button routerLink="/main">-->
          <ion-button (click) = "onClick()">
            Ingresar
          </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
