<ion-header>
  <ion-toolbar>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-label>Equipos elegidos</ion-label>
    </ion-item>
    <app-teams-list [ViewTeam] = team></app-teams-list>
  </ion-card-content>
</ion-content>
